/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.09.2016, 13:00:55
    Author     : antonepple
*/

@font-face {
    font-family: 'jedi';
    src: url('STARWARS.TTF')  format('truetype') /* Safari, Android, iOS */    
}

body {
    background:  black;
    color: #fff;
    font-family: 'jedi', Fallback, sans-serif;
}


.heading{
    width: 100%;
  position: absolute;
    font-size: 100px;
    text-align: center;  
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 4px;
   -webkit-text-stroke-color: yellow;
}

#bg{
    background-image: url("Fotolia_97840476_M.jpg");
    background-size: 100%;
    width: 100vw;
    height: 55.26vw;
}

h1{
    font-size: 6em;
    color: #ffff00;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3{
    color: #ffff00;
    text-align: center;
}

#stitch {
    position: absolute;
    margin-top: 14%;
    margin-left: 20%;
    width: 38%;
    background: transparent;
}
.lightsaber{
    vertical-align: central;
}
